.cadastro-jogador  {
    background-image: url(../IMG/fundo-CT.png) ;
}

/* INFORMAÇÕES USUÁRIO */
.informaçoes-equipe_jogador {
    height: 1110px;
}

.cadastro {
    height: 590px;
}

.select_equipe select {
    color: #fff;
    background: rgba(22, 2, 65, 0.6);     
    border-radius: 5px;
}

.info_user {
    height: 235px;
}

.input_select {
    height: 360px;
    color:  #480048  ;
}

.posicionamento_cadastro {
    height: 999px;
}

.style-input_select {
    width: 575px; 
}

.style-input_select option {
    text-transform: capitalize;
}

.btn_cadastrar button{
    background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)
}

