.cadastro-jogador  {
    background-image: url(../IMG/fundo-CT.png) ;
}

/* INFORMAÇÕES USUÁRIO */
.informaçoes-equipe_jogador {
    height: 1110px;
}

.cadastro {
    height: 590px;
}

.select_equipe select {
    color: #fff;
}

.input_select {
    height: 360px;
    color:  #480048  ;
}

.posicionamento_cadastro {
    height: 999px;
}

 .style-input_select {
    width: 575px; 
}

.btn_cadastrar button{
    background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)
}

