.cadastro-jogador  {
    background-image: url(../IMG/fundo-cj.png);
}

/* USUÁRIO */
.informaçoes-equipe_jogador {
    height: 850px;
}

.cadastro {
    height: 350px;
}

.posicionamento_cadastro {
    height: 100%;
}

.input_select {
    height: 150px;
    /* background-color: blue; */
}

.posicionamento_cadastro {
    height: 750px;
}

td img {
    max-width: 35px ;max-height: 35px ;
}

.input_emblema {
    color: white;
    width: 146px;
    display: none;
    cursor: pointer;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
  
.input_emblema label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    transition: transform .2s ease-out;
    font-weight: lighter;

    background: rgba(22, 2, 65, 0.6);     
    border-radius: 5px;
}

.btn_cadastrar button{
    background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%)
}    
 